<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container bg-blur rounded mt-1 mb-4">
        <div class="row mt-1 mb-2">
            <div class="col-6 mt-1 mb-1">

                <h3 class="mySticky bg-gray text-dark mb-0 mt-2">Pop</h3>
                <table class="table badge-info">
                    <tr th:each="popSong : ${popSongs}">
                        <th scope="row"><img class="mr-2 " src="/images/playlist.png" alt="Playlist" width="30px" height="30px"></th>
                        <td th:text="|*{popSong.performer} - *{popSong.title} (*{popSong.getDuration()})|">
                            <span></span>
                        </td>
                        <td>
                            <form class="home-playlist-button" th:action="@{home/add-song/{id}(id = ${popSong.id})}" th:method="post">
                                <button type="submit" name="add" class="btn btn-primary btn-sm">Add</button>
                            </form>
                        </td>
                    </tr>
                </table>

                <h3 class="mySticky bg-gray text-dark mb-0 mt-2">Rock</h3>
                <table class="table badge-warning">
                    <tr th:each="rockSong : ${rockSongs}">
                        <th scope="row"><img class="mr-2 " src="/images/playlist.png" alt="Playlist" width="30px" height="30px"></th>
                        <td th:text="|*{rockSong.performer} - *{rockSong.title} (*{rockSong.getDuration()})|">
                            <span></span>
                        </td>
                        <td>
                            <form class="home-playlist-button" th:action="@{home/add-song/{id}(id = ${rockSong.id})}" th:method="post">
                                <button type="submit" name="add" class="btn btn-primary btn-sm">Add</button>
                            </form>
                        </td>
                    </tr>
                </table>

                <h3 class="mySticky bg-gray text-dark mb-0 mt-2">Jazz</h3>
                <table class="table badge-success">
                    <tr th:each="jazzSong : ${jazzSongs}">
                        <th scope="row"><img class="mr-2 " src="/images/playlist.png" alt="Playlist" width="30px" height="30px"></th>
                        <td th:text="|*{jazzSong.performer} - *{jazzSong.title} (*{jazzSong.getDuration()})|">
                            <span></span>
                        </td>
                        <td>
                            <form class="home-playlist-button" th:action="@{home/add-song/{id}(id = ${jazzSong.id})}" th:method="post">
                                <button type="submit" name="add" class="btn btn-primary btn-sm">Add</button>
                            </form>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="col-6 mt-1 mb-1">
                <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">My Playlist </h3>

                <h6 th:text="|${totalDurationOfPlaylist} min.|" class="mySticky bg-gray text-dark  mb-0 mt-0"></h6>

                <div class="bg-dark rounded m-auto" style="height: 68.5vh; overflow: auto">
                    <table class="table table-striped table-dark">
                        <tr th:each="song : ${playlist}">
                            <th scope="row"><img class="mr-2 " src="/images/playlist.png" alt="Playlist" width="30px" height="30px"></th>
                            <td th:text="|*{song.performer} - *{song.title} (*{song.getDuration()})|">
                                <span></span>
                            </td>
                            <td>
                                <form class="home-playlist-button" th:action="@{home/remove-song/{id}(id = ${song.id})}" th:method="post">
                                    <button type="submit" name="remove" class="btn btn-secondary btn-sm">Remove</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

                <form class="home-playlist-button" th:action="@{/home/remove-all-song}" th:method="post">
                    <button type="submit" name="remove-all" class="btn btn-secondary btn-sm">Remove all</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>